fastapi
uvicorn[standard]
python-dotenv
pydantic
python-multipart
pwdlib[argon2]>=0.3,<1
openai
yt-dlp[default]
-r requirements-stt.txt
spacy
voxcpm
soundfile
pydub
librosa
audiostretchy
numpy
pytest
httpx[socks]
huggingface_hub
